<!DOCTYPE html>
<html>
	<head>


		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<script>
  (adsbygoogle = window.adsbygoogle || []).push({
	      google_ad_client: "ca-pub-9343822003994335",
	          enable_page_level_ads: true
			    });
		</script>

		<script>

(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                                ga('create', 'UA-109185335-1', 'auto');
				ga('send', 'pageview');
		</script>

	</head>

	<title>PokeVendrell</title>
	<body>

			<div align="center">

					  <div><img src="static/banners/title.png" width="900" height="150"></div>

					  	  <div><a href="/" target="_blank"><img src="static/banners/mapa.png" width="700" height="150"></a></div>
						  	  <div><a href="/stats" target="_blank"><img src="static/banners/statistics.png" width="700" height="150"></a></div>
							  	  <div><a href="/status" target="_blank"><img src="static/banners/status.png" width="700" height="150"></a></div>
								  	</div>

	</body>
</html>
