<head>
	<title>Login to PokeVendrell</title>
	<link rel="stylesheet" type="text/css" href="static/css/login.css">
</head>

<body>

	<div id="modal" class="loginContainer">
		<header class="loginHeader">
			<span class="header_title">Login</span>
		</header>
		<section class="loginBody">
			<!-- Username & Password Login form -->
			<div class="user_login">
				<form action="." method="post">
					<label>Username</label>
					<input type="text" name="username" />
					<br />
					<label>Password</label>
					<input type="password" name="password"/>
					<br />
					<div class="checkbox">
						<input id="remember" type="checkbox" />
						<label for="remember">Remember me on this computer</label>
					</div>
					<div class="action_btns">
						<div><button type="submit" class="btn btn_red">Login</button></div>
					</div>
				</form>
			</div>
		</section>
	</div>

</body>
