
<head>
	<title>LOGIN</title>

	<link rel="stylesheet" type="text/css" href="static/css/login.css">

</head>

<body>

<div class="loginContainer">
	<header class="loginHeader">
		<span class="header_title">Login</span>
	</header>
	<section class="loginBody">
		<!-- Username & Password Login form -->
		<div class="user_login">
			<form>
				<label>Username</label>
				<input type="text" />
				<br />
				<label>Password</label>
				<input type="password" />
				<br />
				<div class="checkbox">
					<input id="remember" type="checkbox" />
					<label for="remember">Remember me on this computer</label>
				</div>
				<div class="action_btns">
					<div><a href="#" class="btn btn_red">Login</a></div>
				</div>
			</form>
		</div>
	</section>
</div>

</body>
