<head>
	<title>Registro</title>
	<link rel="stylesheet" type="text/css" href="static/css/login.css">
</head>

<body>

	<div id="modal" class="loginContainer">
		<header class="loginHeader">
			<span class="header_title">Registrar</span>
		</header>
		<section class="loginBody">
			<!-- Username & Password Login form -->
			<div class="user_login">
				<form action="" method="post">
					<label>Usuario de telegram (alias)</label>
					<input type="text" name="username" />
					<br />
					<label>Contraseña</label>
					<input type="text" name="password"/>
					<br />
					<label>Teléfono</label>
					<input type="text" name="phonenumber"/>
					<br />
					<br />
					<div class="action_btns">
						<div><button type="submit" class="btn btn_red">Registrar</button></div>
					</div>
				</form>
			</div>
		</section>
	</div>

</body>
