<head>
	<title>Register to PokeVendrell</title>
	<link rel="stylesheet" type="text/css" href="static/css/login.css">
</head>

<body>

	<div id="modal" class="loginContainer">
		<header class="loginHeader">
			<span class="header_title">Register</span>
		</header>
		<section class="loginBody">
			<!-- Username & Password Login form -->
			<div class="user_login">
				<form action="" method="post">
					<label>Username</label>
					<input type="text" name="username" />
					<br />
					<label>Password</label>
					<input type="text" name="password"/>
					<br />
					<label>Phone</label>
					<input type="text" name="phonenumber"/>
					<br />
					<label>Donation</label>
					<input type="number" name="donation"/>
					<br />
					<br/>
					<label>Months</label>
					<input type="number" name="months"/>
					<br />
					<br/>
					<label>Expiration</label>
					<input type="date" name="expiration"/>
					<br />
					<br />
					<div class="action_btns">
						<div><button type="submit" class="btn btn_red">Register</button></div>
					</div>
				</form>
			</div>
		</section>
	</div>

</body>
